<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <h1 class="cyan">{{force_totals.name}}'s Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-white bg-danger">
          <i class="fa fa-group fa-fw"></i>
          Enterprise
        </div>
        <div class="card-body row">
          <div class="col-md-6 col-12">
            <table class="table table-hover table-outline mb-0">
              <thead class="thead-light">
              </thead>
              <tbody>
                <tr *ngFor="let field of enterpriseService.enterprise_fields|slice:0:5">
                  <td>
                    <div>{{replace_space(remove__c(field))}}</div>
                  </td>
                  <td>
                    <strong *ngIf="force_totals[field]==null" class="float-right">0</strong>
                    <strong *ngIf="force_totals[field]!=null" class="float-right">{{force_totals[field]}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 col-12">
            <table class="table table-hover table-outline mb-0">
              <thead class="thead-light">
              </thead>
              <tbody>
                <tr *ngFor="let field of enterpriseService.enterprise_fields|slice:5:10" [routerLink]="">
                  <td>
                    <div>{{replace_space(remove__c(field))}}</div>
                  </td>
                  <td>
                    <strong *ngIf="force_totals[field]==null" class="float-right">0</strong>
                    <strong *ngIf="force_totals[field]!=null" class="float-right">{{force_totals[field]}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="card">
            <div class="card-header text-white bg-success">
              <i class="fa fa-group fa-fw"></i>
              Enterprise Totals
            </div>
            <div class="card-body">
              <table class="table table-hover table-outline mb-0">
                <thead class="thead-light">
                </thead>
                <tbody>
                  <tr *ngFor="let field of enterpriseService.total_fields|slice:0:5" [routerLink]="['/enterprise']" [queryParams]="{field:field,child:child_org_id}">
                    <!--<td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-fire fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>-->
                    <td>
                      <div>{{replace_space(remove__c(field))}}</div>
                    </td>
                    <td>
                      <strong *ngIf="force_totals[field]==null" class="float-right">0</strong>
                      <strong *ngIf="force_totals[field]!=null" class="float-right">{{force_totals[field]}}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
            </div>
          </div>
        </div><!--/.col-->
        <div class="col-md-6 col-12">
          <div class="card">
            <div class="card-header text-white bg-info">
              <i class="fa fa-group fa-fw"></i>
              Enterprise Totals
            </div>
            <div class="card-body">
              <table class="table table-hover table-outline mb-0">
                <thead class="thead-light">
                </thead>
                <tbody>
                  <tr *ngFor="let field of enterpriseService.total_fields|slice:5:10" [routerLink]="['/enterprise']" [queryParams]="{field:field,child:child_org_id}">
                    <td>
                      <div>{{replace_space(remove__c(field))}}</div>
                    </td>
                    <td>
                      <strong *ngIf="force_totals[field]==null" class="float-right">0</strong>
                      <strong *ngIf="force_totals[field]!=null" class="float-right">{{force_totals[field]}}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
            </div>
          </div>
        </div><!--/.col-->
      </div>
    </div>
    <div class="col-12"> <!--/.Enterprise Children-->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header text-white bg-warning">
              <i class="fa fa-group fa-fw"></i>
              Children Organizations
              <strong *ngIf="force_children != null" class="float-right">Children Count: {{force_children.length}}</strong>
              <strong *ngIf="force_children == null" class="float-right">Children Count: 0</strong>
            </div>
            <div class="card-body" *ngIf="force_children != null">
              <table datatable class="row-border hover table-bordered" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display nowrap" style="width:100%">
                <thead>
                  <tr class="text-center" class="text-center">
                      <th>Child Organization Name</th>
                      <th>{{replace_space(remove__c(selected_total))}}</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of force_children" class="text-center">
                    <td><a target="_blank" [routerLink]="['/enterprise']" [queryParams]="{child:record.id, parent: child_org_id}" (click)="view_child(record.id)">{{record.name}}</a></td>
                    <td>{{record[selected_total]}}</td>
                    <td>
                      <a target="_blank" [routerLink]="['/enterprise']" [queryParams]="{child:record.id, parent: child_org_id}" (click)="view_child(record.id)"><button class="btn btn-sm btn-info text-white" type="button">View</button></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--/.col-->
      </div>
    </div>
  </div>
</div>
