<div class="row">
    <div class="col-12">
        <a (click)="open(create, 0)" href="javascript:void(0)" class="btn btn-primary btn-sm float-right" routerLinkActive="active">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create new {{replace_space(tableName) | titlecase}}
        </a>
    </div>
</div>
<div class="row mt-1">  
    <div class="col-12">
        <ngx-loading [show]="is_loading"></ngx-loading>
        <table datatable class="row-border hover" *ngIf="object_ids.length>0 && items_page_order.length>0">
            <thead>
                <tr class="text-center" class="text-center">
                    <th *ngFor="let item of items_page_order">{{item.label}}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let id of object_ids" class="text-center">  
                    <td *ngFor="let item of items_page_order">
                        <a *ngIf="item.name == 'Name'" (click)="open(view, 1, id)" href="javascript:void(0)" > {{objects.data[id][remove__c(item.name)]}} </a>

                        <a *ngIf="item.name != 'Name' && item.type == 'reference'">
                            <span *ngIf="references.hasOwnProperty(item.name) && objects.data[id][remove__c(item.name)] != null">
                                {{references[item.name]['data'][objects.data[id][remove__c(item.name)]][remove__c(afterDot(item.type_value))]}}
                            </span>
                        </a>
                        
                        <a *ngIf="item.name != 'Name' && item.type == 'boolean' ">
                            <span *ngIf="objects.data[id][remove__c(item.name)] == 1">Yes</span>
                            <span *ngIf="objects.data[id][remove__c(item.name)] == 0">No</span>
                        </a>
                        
                        <a *ngIf="item.name != 'Name' && item.type != 'reference' && item.type != 'boolean' ">
                            {{objects.data[id][remove__c(item.name)]}}
                        </a>
                    </td>
                    <td>
                        <a (click)="open(create, 2, id)" href="javascript:void(0)">Edit</a> | 
                        <a (click)="delete(id)" href="javascript:void(0)">Del</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>

<ng-template #view let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="mode==1">{{tableName | titlecase}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let item of view_display_order" class="form-group row">
        <label class="col-md-3 col-form-label"> {{item.label}} </label>
        <div class="col-md-9">
             <input *ngIf="item.type=='boolean'" type="checkbox" class="form-check-label" [checked]="objects.data[view_index][remove__c(item.name)]" [class.disabled]="true"/>
        
            <input *ngIf="item.type=='reference' && objects.data[view_index][remove__c(item.name)] != null" type="text" class="form-control" 
                    value="{{references[item.name]['data'][objects.data[view_index][remove__c(item.name)]][remove__c(afterDot(item.type_value))]}}" [class.disabled]="true" />
            
            <input *ngIf="item.type=='reference' && objects.data[view_index][remove__c(item.name)] == null" type="text" class="form-control" 
                    value="" [class.disabled]="true" />

            <input *ngIf="item.type!='boolean'&&item.type!='reference'" class="form-control" value="{{objects.data[view_index][remove__c(item.name)]}}" [class.disabled]="true"/>
        </div>
    </div>
  </div>
</ng-template>

<ng-template #create let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="mode==0">Create New Facility</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="mode==2">Edit Facility</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-horizontal ng-untouched ng-pristine ng-valid">
        <div *ngFor="let item of insert_display_order" class="form-group">
            <div class="row" *ngIf="item.type!='root'">
                <label class="col-md-3 col-form-label" for="Name_of_facility">{{item.label}}</label>
                <div class="col-md-9">
                    
                    <!-- Add field by item.type -->
                    <input *ngIf="item.type!='textarea'&&item.type!='boolean'&&item.type!='reference'&&item.type!='datetime'" type="text" 
                            formControlName={{remove__c(item.name)}} class="form-control" [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }"/>
                    
                    <textarea *ngIf="item.type=='textarea'" type="text" formControlName={{remove__c(item.name)}} class="form-control" [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }"></textarea>
                    
                    <input *ngIf="item.type=='boolean'" type="checkbox" formControlName={{remove__c(item.name)}} class="form-check-label"/>
                    
                    <mat-form-field *ngIf="item.type=='datetime'" class="example-full-width">
                        <input matInput formControlName={{remove__c(item.name)}} [matDatepicker]="picker" placeholder="Choose a date" >
                        <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <select *ngIf="item.type=='reference' && references.hasOwnProperty(item.name)" formControlName={{remove__c(item.name)}} class="form-control">
                        <option *ngFor="let key of make_keys(item.name)" [value]="key">{{references[item.name]['data'][key][remove__c(afterDot(item.type_value))]}}</option>
                    </select> 

                    <span class="help-block"><small>{{item.inlineHelpText}}</small></span>
                    <div *ngIf="submitted && f[remove__c(item.name)].errors" class="invalid-feedback">
                        <div *ngIf="f[remove__c(item.name)].errors">{{print(remove__c(item.name), f[remove__c(item.name)].errors)}}</div>
                    </div>
                </div>   
            </div>    
        </div>
        
        <div class="form-group col-md-12">
            <button *ngIf="mode!=1" [disabled]="loading_submit" type="submit" class="btn btn-primary float-right">
                <i class="fa fa-dot-circle-o"></i>
                Save
                <img *ngIf="oshaService.loading_submit" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>   
        </div>
    </form>
  </div>
</ng-template>