.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }