<div class="row">
    <div class="col-12">
        <ngb-alert *ngIf="oshaService.success_alert!=''" (close)="oshaService.success_alert = ''">{{oshaService.success_alert}}</ngb-alert>
        <h2 class="text-primary">{{replace_space(tableName) | titlecase}} Management</h2>
    </div>
    <div class="col-12">
        <button (click)="open(create, 0)" href="javascript:void(0)" class="trigger mx-0 btn-primary" routerLinkActive="active" *ngIf="can_insert==1">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create new {{replace_space(tableName) | titlecase}}
        </button>
    </div>
</div>
<div class="row mt-1">  
    <div class="col-12">
        <ngx-loading [show]="is_loading"></ngx-loading>
        <h1 class="text-center" *ngIf="is_loading==false&&object_ids.length==0">No data was found</h1>
        <table datatable class="row-border hover table-bordered" *ngIf="object_ids.length>0 && items_page_order.length>0">
            <thead>
                <tr class="text-center" class="text-center">
                    <th *ngFor="let item of items_page_order">{{item.label}}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let id of object_ids" class="text-center">  
                    <td width="{{item.items_page_display_proportion}}%" *ngFor="let item of items_page_order; let index=index;">
                        <a *ngIf="index==0" (click)="open(view, 1, id)" href="javascript:void(0)" > {{objects.data[id][remove__c(item.name)]}} </a>

                        <a *ngIf="index!=0 && (item.type == 'reference'||item.type == 'parent')">
                            <span *ngIf="references.hasOwnProperty(item.name) && objects.data[id][remove__c(item.name)] != null">
                                {{references[item.name]['data'][objects.data[id][remove__c(item.name)]][remove__c(afterDot(item.type_value))]}}
                            </span>
                        </a>
                        
                        <a *ngIf="index!=0 && item.type == 'boolean' ">
                            <span *ngIf="objects.data[id][remove__c(item.name)] == 'true'">Yes</span>
                            <span *ngIf="objects.data[id][remove__c(item.name)] == 'false'">No</span>
                        </a>
                        
                        <div *ngIf="index!=0 && (item.type != 'reference'&&item.type != 'parent') && item.type != 'boolean' ">
                            <p class="line_3_description" [innerHtml]="objects.data[id][remove__c(item.name)]" title={{objects.data[id][remove__c(item.name)]}}></p>
                        </div>
                    </td>
                    <td>
                        <a (click)="open(create, 2, id)" href="javascript:void(0)" *ngIf="can_edit==1">Edit </a>  
                        <a (click)="delete(id)" href="javascript:void(0)" *ngIf="can_delete==1">| Del</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>

<ng-template #view let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="mode==1">Detailed information</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-md-4">
            </div>
            <div class="col-md-2 col-sm-6 col-12">
                <button aria-pressed="true" class="btn btn-sm btn-square btn-block btn-success active trigger" (click)="open(create, 2, view_index)" type="button">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    Edit
                </button>
            </div>
            <div class="col-md-3 col-sm-6 col-12" *ngIf="is_converted==false&&tableName=='lead'">
                <button aria-pressed="true" class="btn btn-sm btn-square btn-block btn-success active trigger" (click)="convert_lead(view_index)" type="button">
                    <img *ngIf="convert_submitting" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <i class="fa fa-copy" aria-hidden="true"></i>
                    Convert Lead
                </button>
            </div>
            <div class="col-md-3 col-sm-6 col-12" *ngIf="tableName=='hipaa_contact'">
                <button aria-pressed="true" class="btn btn-sm btn-square btn-block btn-success active trigger" (click)="reset_password(view_index)" type="button">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Reset Password
                </button>
            </div>
            <div class="col-md-3 col-sm-6 col-12" *ngIf="tableName=='hardware_inventory'">
                <button aria-pressed="true" class="btn btn-sm btn-square btn-block btn-success active trigger" (click)="create_new_location(view_index, new_location)" type="button">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Create New Location Entry
                </button>
            </div>
            <div class="col-md-2 col-sm-6 col-12">
                <button aria-pressed="true" class="btn btn-sm btn-square btn-block btn-success active trigger" (click)="open(create, 0, view_index)" type="button">
                    <i class="fa fa-copy" aria-hidden="true"></i>
                    Copy
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div *ngIf="has_tab">
            <ngb-tabset>
                <ngb-tab *ngFor="let tab of tabs[tableName].tabs;let t_index=index" title="{{tab}}">
                    <ng-template ngbTabContent>
                        <div *ngFor="let item of view_display_order;let index=index" class="form-group row my-0">
                            <div class="col-12 my-2" *ngIf="(index < tabs[tableName].index&&t_index==0)||(index>=tabs[tableName].index&&t_index==1)">
                                <div class="row">
                                    <label class="col-md-3 col-form-label text-left ellipsis" title={{item.label}}> {{item.label}} </label>
                                    <div class="col-md-9">
                                        <input *ngIf="item.type=='boolean'" type="checkbox" class="form-check-label" [checked]="objects.data[view_index][remove__c(item.name)]=='true'" [class.disabled]="true"/>
                                    
                                        <input *ngIf="(item.type=='reference'||item.type=='parent') && objects.data[view_index][remove__c(item.name)] != null" type="text" class="form-control" 
                                                value="{{references[item.name]['data'][objects.data[view_index][remove__c(item.name)]][remove__c(afterDot(item.type_value))]}}" [class.disabled]="true" />
                                        
                                        <input *ngIf="(item.type=='reference'||item.type=='parent') && objects.data[view_index][remove__c(item.name)] == null" type="text" class="form-control" 
                                                value="" [class.disabled]="true" />
                                        
                                        <input *ngIf="item.type!='boolean'&&item.type!='reference'&&item.type!='parent'" class="form-control" value="{{objects.data[view_index][remove__c(item.name)]}}" [class.disabled]="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div *ngIf="!has_tab">
            <div *ngFor="let item of view_display_order" class="form-group row">
                <label class="col-md-3 col-12 col-form-label text-left ellipsis" title={{item.label}}> {{item.label}} </label>
                <div class="col-md-9 col-12">
                    <input *ngIf="item.type=='boolean'" type="checkbox" class="form-check-label" [checked]="objects.data[view_index][remove__c(item.name)]=='true'" [class.disabled]="true"/>
                
                    <input *ngIf="(item.type=='reference'||item.type=='parent') && objects.data[view_index][remove__c(item.name)] != null" type="text" class="form-control" 
                            value="{{references[item.name]['data'][objects.data[view_index][remove__c(item.name)]][remove__c(afterDot(item.type_value))]}}" [class.disabled]="true" />
                    
                    <input *ngIf="(item.type=='reference'||item.type=='parent') && objects.data[view_index][remove__c(item.name)] == null" type="text" class="form-control" 
                            value="" [class.disabled]="true" />
                    
                    <input *ngIf="item.type!='boolean'&&item.type!='reference'&&item.type!='parent'" class="form-control" value="{{objects.data[view_index][remove__c(item.name)]}}" [class.disabled]="true"/>
                </div>
            </div>
            <div *ngIf="this.tableName == 'hipaa_contact'" class="row">
                <div class="card col-12">
                    <div class="card-header text-white bg-success">
                        <i class="fa fa-user fa-fw"></i>
                        Login
                    </div>
                    <div class="card-body">
                        <table datatable class="row-border hover table-bordered">
                            <thead>
                                <tr class="text-center" class="text-center">
                                <th *ngFor="let field of exception_fields">{{field.label}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let id of exception_ids" class="text-center">  
                                    <td *ngFor="let field of exception_fields">
                                        {{exception_log[id][field.field]}}
                                    </td>
                                </tr>   
                            </tbody>
                        </table>
                    </div>
                </div>    
                <div class="card col-12">
                    <div class="card-header text-white bg-success">
                        <i class="fa fa-user fa-fw"></i>
                        Login History
                    </div>
                    <div class="card-body">
                        <table datatable class="row-border hover table-bordered">
                            <thead>
                                <tr class="text-center" class="text-center">
                                <th *ngFor="let field of login_fields">{{field.label}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let id of login_ids" class="text-center">  
                                    <td *ngFor="let field of login_fields">
                                        {{login_history[id][field.field]}}
                                    </td>
                                </tr>   
                            </tbody>
                        </table>
                    </div>
                </div>    
            </div>
            <div *ngIf="this.tableName == 'hardware_inventory'" class="row">
                <div class="card col-12">
                    <div class="card-header text-white bg-success">
                        <i class="fa fa-user fa-fw"></i>
                        Location History
                    </div>
                    <div class="card-body">
                        <table datatable class="row-border hover table-bordered">
                            <thead>
                                <tr class="text-center" class="text-center">
                                <th *ngFor="let field of location_fields">{{field.label}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let id of location_ids" class="text-center">  
                                    <td *ngFor="let field of location_fields">
                                        {{location_history[id][field.field]}}
                                    </td>
                                </tr>   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</ng-template>

<ng-template #create let-c="close" let-d="dismiss">
    <div class="modal-header bg-success">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="mode==0">Create New {{replace_space(tableName) | titlecase}}</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="mode==2">Edit {{replace_space(tableName) | titlecase}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngb-alert *ngIf="oshaService.error_alert!=''" (close)="oshaService.error_alert = ''">{{oshaService.error_alert}}</ngb-alert>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-horizontal ng-untouched ng-pristine ng-valid">
            <div *ngIf="has_tab">
                <ngb-tabset>
                    <ngb-tab *ngFor="let tab of tabs[tableName].tabs;let t_index=index" title="{{tab}}">
                        <ng-template ngbTabContent>
                            <div *ngFor="let item of insert_display_order; let index=index;" class="form-group">
                                <div class="row" *ngIf="(item.type!='root')&&(((index < tabs[tableName].index&&t_index==0))||((index >= tabs[tableName].index&&t_index==1)))">
                                    <label class="col-md-3 col-form-label text-left ellipsis" title={{item.label}}>{{item.label}}</label>
                                    <div class="col-md-9">
                                        
                                        <!-- Add field by item.type -->
                                        <input *ngIf="item.type!='textarea'&&item.type!='boolean'&&item.type!='reference'&&item.type!='datetime'&&item.type!='date'&&item.type!='picklist'" 
                                                type="text" formControlName={{remove__c(item.name)}} class="form-control" [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }"/>
                                        
                                        <textarea *ngIf="item.type=='textarea'" type="text" formControlName={{remove__c(item.name)}} class="form-control" [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }"></textarea>
                                        
                                        <input *ngIf="item.type=='boolean'" type="checkbox" formControlName={{remove__c(item.name)}} [checked]="f[remove__c(item.name)].value=='true'" class="form-check-label"/>
                                        
                                        <mat-form-field *ngIf="item.type=='datetime'||item.type=='date'" class="example-full-width">
                                            <input [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }" matInput formControlName={{remove__c(item.name)}} [matDatepicker]="picker" placeholder="Choose a date" >
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>

                                        <select *ngIf="item.type=='reference' && references.hasOwnProperty(item.name)" formControlName={{remove__c(item.name)}} 
                                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }">
                                            <option *ngFor="let key of make_keys(item.name)" [value]="key">{{references[item.name]['data'][key][remove__c(afterDot(item.type_value))]}}</option>
                                        </select> 

                                        <select *ngIf="item.type=='picklist'" formControlName={{remove__c(item.name)}} class="form-control" 
                                                [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }">
                                            <option *ngFor="let key of make_picklist(item.type_value)" [value]="key">{{key}}</option>
                                        </select> 

                                        <span class="help-block"><small>{{item.inlineHelpText}}</small></span>
                                        <div *ngIf="submitted && f[remove__c(item.name)].errors" class="invalid-feedback">
                                            <div *ngIf="f[remove__c(item.name)].errors">{{print(remove__c(item.name), f[remove__c(item.name)].errors)}}</div>
                                            <!--<div *ngIf="f[remove__c(item.name)].errors.required">required</div>-->
                                        </div>
                                    </div>   
                                </div>    
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div *ngIf="!has_tab">
                <div *ngFor="let item of insert_display_order" class="form-group">
                    <div class="row" *ngIf="item.type!='root'">
                        <label class="col-md-3 col-form-label text-left ellipsis" title={{item.label}}>{{item.label}}</label>
                        <div class="col-md-9">
                            
                            <!-- Add field by item.type -->
                            <input *ngIf="item.type!='textarea'&&item.type!='boolean'&&item.type!='reference'&&item.type!='datetime'&&item.type!='date'&&item.type!='picklist'&&item.type!='parent'" 
                                    type="text" formControlName={{remove__c(item.name)}} class="form-control" [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }"/>
                            
                            <textarea *ngIf="item.type=='textarea'" type="text" formControlName={{remove__c(item.name)}} class="form-control text-area" [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }"></textarea>
                            
                            <input *ngIf="item.type=='boolean'" type="checkbox" formControlName={{remove__c(item.name)}} [checked]="f[remove__c(item.name)].value=='true'" class="form-check-label"/>
                            
                            <mat-form-field *ngIf="item.type=='datetime'||item.type=='date'" class="example-full-width">
                                <input [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }" matInput formControlName={{remove__c(item.name)}} [matDatepicker]="picker" placeholder="Choose a date" >
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <select *ngIf="(item.type=='reference')||(item.type=='parent') && references.hasOwnProperty(item.name)" formControlName={{remove__c(item.name)}} 
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors, 'disabled':item.type=='parent' && mode==2 }">
                                <option *ngFor="let key of make_keys(item.name)" [value]="key">{{references[item.name]['data'][key][remove__c(afterDot(item.type_value))]}}</option>
                            </select> 

                            <select *ngIf="item.type=='picklist'" formControlName={{remove__c(item.name)}} class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f[remove__c(item.name)].errors }">
                                <option *ngFor="let key of make_picklist(item.type_value)" [value]="key">{{key}}</option>
                            </select> 

                            <span class="help-block"><small>{{item.inlineHelpText}}</small></span>
                            <div *ngIf="submitted && f[remove__c(item.name)].errors" class="invalid-feedback">
                                <div *ngIf="f[remove__c(item.name)].errors">{{print(remove__c(item.name), f[remove__c(item.name)].errors)}}</div>
                                <!--<div *ngIf="f[remove__c(item.name)].errors.required">required</div>-->
                            </div>
                        </div>   
                    </div>    
                </div>
            </div>
            
            <div class="form-group col-md-12">
                <button *ngIf="mode!=1" [disabled]="loading_submit" type="submit" class="btn btn-primary float-right">
                    <i class="far fa-save"></i>
                    Save
                    <img *ngIf="loading_submit" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </button>   
            </div>
        </form>
    </div>
</ng-template>

<ng-template #new_location let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Location Entry</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="locationForm" (ngSubmit)="save_location_history()" class="form-horizontal ng-untouched ng-pristine ng-valid row">
        <label class="col-md-3 col-form-label text-left ellipsis">Select Room</label>
        <div class="col-md-9">
            <select class="form-control" formControlName="Room" [ngClass]="{ 'is-invalid': submitted && f_location.Room.errors }">
                <option *ngFor="let id of location_room_ids" [value]="id">{{location_rooms[id].Name}}</option>
            </select> 
            <div *ngIf="submitted && f_location.Room.errors" class="invalid-feedback">
                <div *ngIf="f_location.Room.errors.required">Room is required</div>
            </div>
        </div>
        <label class="col-md-3 col-form-label text-left ellipsis">Start Date</label>
        <div class="col-md-9">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Date_Start" [matDatepicker]="picker" placeholder="Choose a date" >
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <label class="col-md-3 col-form-label text-left ellipsis">Comments</label>
        <div class="col-md-9">
            <textarea type="text" formControlName="Comments" class="form-control"></textarea>
        </div>
        <div class="form-group col-12 mt-2">
            <button [disabled]="loading_submit" class="btn btn-primary px-4 float-right">
                <img *ngIf="loading_submit" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                Save
            </button>
        </div>
    </form>    
  </div>
</ng-template>