<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <h1 class="cyan">Pemiscot's <strong>OSHA</strong> Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-follow"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Weekly Tasks Due</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-basket-loaded"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Monthly Tasks Due</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Exposure and Injuries</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speedometer"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Yearly Trainings Due</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speech"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Compliance Tasks Due</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-white bg-primary">
              <i class="fa fa-institution fa-fw"></i>
              Your Organization
            </div>
            <div class="card-body">
              <table class="table table-responsive-sm table-hover table-outline mb-0">
                <thead class="thead-light">
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-fire fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>Last OSHA Manual Update</div>
                    </td>
                    <td>
                      <strong class="float-right">06/04/2018</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-code-fork fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>Post Exposure Management</div>
                    </td>
                    <td>
                      <strong class="float-right">0</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-code-fork fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>HBV Tracking</div>
                    </td>
                    <td>
                      <strong class="float-right">0</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-users fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>Perform Engineering Controls </div>
                    </td>
                    <td>
                      <strong class="float-right">0</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-lock fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>Contact and Latex Allergy</div>
                    </td>
                    <td>
                      <strong class="float-right">0</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-circle fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>Sterilization and Infection</div>
                    </td>
                    <td>
                      <strong class="float-right">0</strong>
                    </td>
                  </tr>
                  <tr [routerLink]="['/facility']">
                    <td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-code-fork fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>Facilites</div>
                    </td>
                    <td>
                      <strong class="float-right">{{facility_info}}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="avatar">
                        <i class="fa fa-users fa-fw dashboard-fa-size"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>Employees</div>
                    </td>
                    <td>
                      <strong class="float-right">0</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>  
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-white bg-danger">
              <i class="fa fa-exclamation-triangle fa-fw"></i>
              Activities Due
            </div>
            <div class="card-body">
              <table class="table table-responsive-sm table-hover table-outline mb-0">
                <thead class="thead-light">
                  <tr>
                    <td>Activity</td>
                    <td>Date Due</td>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-white bg-success">
          <i class="fa fa-group fa-fw"></i>
          Process Review Dates
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-bank fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Instrument Processing</div>
                </td>
                <td>
                  <strong class="float-right">17</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-sign-in fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Work Area</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-check-square-o fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Prep and Packaging</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-star fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Unwrapped Instruments</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-star-o fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Implantable Devices</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-bank fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Sterilization Monitoring</div>
                </td>
                <td>
                  <strong class="float-right">17</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-sign-in fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Patient Care Items</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-check-square-o fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Environmental Surfaces</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-star fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Regulated Medical Waste</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-star-o fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Extracted Teeth</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-bank fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Dental Unit Waterlines, Biofilm, and Water Quality</div>
                </td>
                <td>
                  <strong class="float-right">17</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-sign-in fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Devices Attached to Air Lines and Waterlines</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-check-square-o fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Dental Radiography</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <i class="fa fa-star fa-fw dashboard-fa-size"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Digital radiography</div>
                </td>
                <td>
                  <strong class="float-right">0</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <!--<div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-white bg-success">
                  <i class="fa fa-building"></i>
                  Percentage BAs signed
                </div>
                <div class="card-body">
                  <div class="chart-wrapper">
                    <canvas baseChart class="chart"
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>  
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-white bg-success">
                  <i class="fa fa-star"></i>
                  Percentage Review Status
                </div>
                <div class="card-body">
                  <div class="card-body">
                    <div class="chart-wrapper">
                      <canvas baseChart class="chart"
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
