<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <h1 class="cyan">{{org_name}}'s Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of dashboardItems[current_dashboard_type]" [routerLink]="[item.url]" [queryParams]="{type:item.url_type, filter:item.url_filter}" routerLinkActive="active" queryParamsHandling="merge" class="{{item.width}}">
      <div class="card text-white {{item.bg_color}}" *ngIf="item.pos=='top'">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="{{item.icon}}"></i>
          </div>
          <div *ngIf="item.isloading==false" class="h4 mb-0">{{item.data}}</div>
          <div *ngIf="item.isloading==true" class="h4 mb-0"> 
            <div class="spinner-border spinner-border-sm text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <small class="text-uppercase font-weight-bold widget-font-size line_1_description">{{item.name}}</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="col-sm-6 col-md-6 col-xl-3">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-follow"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Weekly Tasks Due</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-2">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-basket-loaded"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Monthly Tasks Due</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-2">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Exposure and Injuries</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-2">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speedometer"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Yearly Trainings Due</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-3">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speech"></i>
          </div>
          <div class="h4 mb-0">0</div>
          <small class="text-muted text-uppercase font-weight-bold">Compliance Tasks Due</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-white bg-primary">
              <i class="fa fa-institution fa-fw"></i>
              Your Organization
            </div>
            <div class="card-body">
              <table class="table table-hover table-outline mb-0">
                <thead class="thead-light">
                </thead>
                <tbody>         
                  <tr *ngFor="let item of dashboardItems[current_dashboard_type]" [routerLink]="[item.url]">
                    <td class="text-center" *ngIf="item.pos=='left'">
                      <div class="avatar">
                        <i class="{{item.icon}}"></i>
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td *ngIf="item.pos=='left'">
                      <div>{{item.name}}</div>
                    </td>
                    <td *ngIf="item.pos=='left'">
                      <strong *ngIf="item.isloading==false" class="float-right">{{item.data}}</strong>
                      <strong *ngIf="item.isloading==true" class="float-right">
                        <div class="spinner-grow spinner-grow-sm" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>  
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-white bg-danger">
              <i class="fa fa-exclamation-triangle fa-fw"></i>
              Activities Due
            </div>
            <div class="card-body">
              <table class="table table-hover table-outline mb-0">
                <thead class="thead-light">
                  <tr>
                    <td>Activity</td>
                    <td>Date Due</td>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-white bg-success">
          <i class="fa fa-group fa-fw"></i>
          Process Review Dates
        </div>
        <div class="card-body">
          <table class="table table-hover table-outline mb-0">
            <thead class="thead-light">
            </thead>
            <tbody>
              <tr *ngFor="let item of dashboardItems[current_dashboard_type]" [routerLink]="[item.url]">
                <td class="text-center" *ngIf="item.pos=='right'">
                  <div class="avatar">
                    <i class="{{item.icon}}"></i>
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td *ngIf="item.pos=='right'">
                  <div>{{item.name}}</div>
                </td>
                <td *ngIf="item.pos=='right'">
                  <strong *ngIf="item.isloading==false" class="float-right">{{item.data}}</strong>
                  <strong *ngIf="item.isloading==true" class="float-right">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </strong>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <!--<div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-white bg-success">
                  <i class="fa fa-building"></i>
                  Percentage BAs signed
                </div>
                <div class="card-body">
                  <div class="chart-wrapper">
                    <canvas baseChart class="chart"
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>  
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header text-white bg-success">
                  <i class="fa fa-star"></i>
                  Percentage Review Status
                </div>
                <div class="card-body">
                  <div class="card-body">
                    <div class="chart-wrapper">
                      <canvas baseChart class="chart"
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
